{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags blog_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title_wrapper%}
{% endblock %}
{% block all_content %}
{% block left_wrapper%}
{% endblock %}

{% block main_wrapper%}

{% endblock %}

{% block right_wrapper%}
{% endblock %}
<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
     <!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->
	<div id="twrap">
	 	<div class="container centered">
	 		<div class="row">
	 			<div class="col-lg-8">
	 			</div>
	 		</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/=headerwrap-->

		<!-- *****************************************************************************************************************
	 PORTFOLIO SECTION
	 ***************************************************************************************************************** -->
	 <div id="portfoliowrap">
        <h3>RECENT WORK</h3>

        <div class="portfolio-centered">
            <div class="recentitems portfolio">
            {% for post in blog_posts %}
                                {% with default_image=default_images|random %}
				<div class="portfolio-item graphic-design">
					<div class="he-wrap tpl6">
					<img src="{{ post.featured_image.url|default:default_image}}" alt="">
						<div class="he-view">
							<div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown"><a href="{{post.get_absolute_url }}">{{ post.title }}</a></h3>
                                <a data-rel="prettyPhoto" href="{{ post.featured_image.url|default:default_image}}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        	</div><!-- he bg -->
						</div><!-- he view -->		
					</div><!-- he wrap -->
				</div><!-- end col-12 -->
                {% endwith %}
         {% endfor %}                   
                    
            </div><!-- portfolio -->
        </div><!-- portfolio container -->
	 </div><!--/Portfoliowrap -->
	 
	 
	<!-- *****************************************************************************************************************
	 MIDDLE CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-12 ">
		 		<h4>About Alvah</h4>
		 		<p>Alvah is a six-year-old with a love for stories, comics, and drawings. He can often be found hunched over the kitchen table drawing or bouncing off furniture while acting out the dramatic lives of all the characters in his imaginary worlds.</p>			
                <p><a href="about-alvah" class="btn btn-theme">More Info</a></p>
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->
	 
		{% endblock %}
